@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --light-grayish-blue: hsl(224, 65%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: hsl(230, 100%, 99%);
}

#price-component {
  border: 1px solid;
  padding: 4rem 3rem;
  width: 35%;
  border-radius: 1rem;
}

.price-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  color: var(--Grayish-Blue);
}

.price-header > h1 {
  color: var(--Dark-Desaturated-Blue);
}

.price-header > h1 > span {
  color: var(--Grayish-Blue);
  font-size: large;
}

#slider {
  text-align: center;
  width: 100%;
  margin-bottom: 3rem;
}

#slider > input {
  width: 100%;
  accent-color: var(--Soft-Cyan);
  outline: none;
  border-radius: 1rem;
  border: none;
}

#slider > input:hover {
  accent-color: var(--Strong-Cyan);
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.toggle-switch > p {
  /* margin: 0 1rem; */
  color: var(--Grayish-Blue);
}

.toggle-switch > p > span {
  /* margin: 0 0.5rem; */
  border: 1px solid;
  color: var(--Light-Red);
  padding: 0 1rem;
  background-color: var(--Light-Grayish-Red);
  border-radius: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  /* border: 1px solid; */
}

.switch input {
  display: none;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background-color: #ccc;
  transition: .4s;
}

.toggle::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5.5px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.switch input:checked + .toggle {
  background-color: var(--Strong-Cyan);
}

.switch input:checked + .toggle::before {
  transform: translateX(38px);
}

hr {
  margin-bottom: 3rem;
}

#features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features {
  list-style: none;
  color: var(--Grayish-Blue);
}

.check {
  color: green;
  margin-right: 1rem;
}

button {
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--Dark-Desaturated-Blue);
  color: var(--Pale-Blue);
  cursor: pointer;
}

button:hover {
  color: white;
}
